/* Globale styles her */

:root {
  --h1-color-light: #fff;
  --h2-color-light: #fff;
  --h2-color-dark: #181818;

  --p-color-light: #fff;
  --p-color-grey: #595566;
  --p-color-dark: #181818;

  --bg-yellow: #ffcc4a;
  --bg-light: #fff;
  --bg-gray: #f5f5f5;
  --bg-dark: #181818;
  --box-green: #4eaf4e;

  --h2-font-size: 45px;
  --p-font-size: 16px;
}
