---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/Hero2.astro";
import Newsletter from "../components/Newsletter.astro";
import OurVision from "@components/OurVision.astro";
import OurCoreValues from "@components/OurCoreValues.astro";
import OurTeam from "@components/OurTeam.astro";
import AccordionContainer from "@components/AccordionContainer.astro";
---

<title>About</title>
<Layout>
  <Hero2 />
  <OurVision />
  <OurCoreValues />
  <OurTeam />
  <AccordionContainer />
  <Newsletter />
</Layout>

<style>
    <OurCoreValues />
</style>