---
import Layout from "@layouts/Layout.astro";

import CaseStudyArticle from "@components/CaseStudyArticle.astro";
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
import Newsletter from "@components/Newsletter.astro";
import Hero4 from "@components/Hero4.astro";
---

<title>Case Study</title>
<Layout>
  <Hero4 />
  <CaseStudyArticle />
  <Newsletter />
</Layout>
