---
import cardData from "@data/caseStudy.json";
console.log(cardData);
---

<article>
    <img src="../src/icons/layers.svg" alt="">
    <h2>Creative Ideas</h2>
    <p>Explore innovative strategies tailored to your goals. Unlock unique solutions that inspire growth and creativity. Drive impactful change.</p>
    <div class="read-more">
        <a href="">
            Read More</a>
            <img src="../src/icons/arrow--right.svg" alt="">
        </div>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        padding: 36px 23px;
        align-items: flex-start;
        gap: 10px;
        width: 226px;

        border-radius: 20px;
        border: 1px solid #EAEAEA;

        background: #F5F5F5;
    }

    h2 {
        color: #181818;
        font-family: Cabin;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 23.2px;
    }

    p {
        color: var(--p-color-grey);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.6px;
    }

    .read-more a {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: #181818;

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28.8px
    }

</style>