---
//@ts-nocheck
import financialProjections from "@data/financialProjections.json";
console.log(financialProjections);
---

<ul>
  {
    financialProjections.map((projection) => (
      <li>
        <h2>{projection.title}</h2>
        <p>{projection.description}</p>
        <a href="#0">{projection.buttonText}</a>
      </li>
    ))
  }
</ul>