---
import { Image } from "astro:assets";
import Services from "./Services.astro";
import CEOImage from "@assets/images/ceo.png";
---

<section class="hero">
  <div class="hero-content">
    <div class="text-content">
      <h1>Empowering Your Business Growth</h1>
      <p>
        Discover tailored strategies and expert insights to take your business to
        the next level. Let us help you navigate challenges and achieve
        sustainable success.
      </p>
      <a href="#0">Book a Meeting</a>
    </div>
    <Image class="hero-image" src={CEOImage} alt="CEO" />
  </div>

  <Services />
</section>

<style>

.hero {
background: #181818;
}

.hero-content {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0,600px) [middle] minmax(0,600px) [content-end] 1fr [full-end];
}

.text-content {
  grid-column: content-start / middle;
}

.hero-image {
  grid-column: middle / full-end;
}

h1 {
  color: var(--p-color-light);

font-family: Cabin;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 58px;

margin-top: 5rem;
}

p {
  color: var(--p-color-light);

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23.6px;

margin-top: 1.5rem;
}

.text-content {
  display: flex;
  flex-direction: column;
align-items: flex-start;
}

a {
  text-decoration: none;
  display: flex;
padding: 16px 31px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;

border-radius: 42px;
border: 1px solid #EBEBEB;

background: var(--bg-light);

color: #353535;

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28.8px;

margin-top: 2rem;
}

@media (max-width: 800px) {
  .hero-image {
    display: none;
  }

  .hero-content {
    display: block;
  }
}

  /* Styles her */
  @layer components {
    .hero {
      background-color: #f3f4f6;
      /* padding: 2rem; */
    }
  }
</style>
