---
import { Image } from "astro:assets";
import hero4 from "@assets/images/hero-case.png";
---

<section class="full-bleed">
  <Image src={hero4} alt="" />
</section>

<style>
  .full-bleed {
    grid-column: full-bleed-start / full-bleed-end;
    display: grid;
  }

  .full-bleed > img {
    grid-column: full-bleed-start / full-bleed-end !important;
    width: 100%;
    object-fit: cover;
    display: block;
  }
</style>
