---

---

<section class="full-bleed">
  <!-- <div class="hero-content"> -->
  <img src="/src/data/images/hero-about.jpg" alt="" />
</section>

<style>
  .full-bleed {
    /* Fylder hele full-bleed området i grid */
    grid-column: full-bleed-start / full-bleed-end;
  }

  .full-bleed img {
    width: 100%; /* fylder sektionen */
    height: auto;
    display: block;
  }
</style>
