---

---

<section class="full-bleed">
  <img src="/src/assets/images/hero-about.jpg" alt="" />
</section>

<style>
  .full-bleed {
    grid-column: full-bleed-start / full-bleed-end;
    display: grid;
  }

  .full-bleed > img {
    grid-column: full-bleed-start / full-bleed-end !important;
    width: 100%;
    object-fit: cover;
    display: block;
  }
</style>
