---

---

<section class="full-bleed">
  <!-- <div class="hero-content"> -->
  <img src="/src/data/images/hero-about.jpg" alt="" />
</section>

<style>
  /* .hero-content {
    display: grid;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, 600px)
      [middle] minmax(0, 600px) [content-end] 1fr [full-end];
  } */
</style>
