---
import FinancialProjections from "./FinancialProjections.astro";
---

<section>
  <h2>Financial Projections</h2>
  <p>
    Financial projections are essential for planning and monitoring a company’s
    performance. They provide insights into potential revenue, expenses, and
    profitability over specific periods.
  </p>
  <ul></ul>
  <FinancialProjections />
</section>

<style>
  h2 {
    color: var(--h2-color-dark);
    font-size: var(--h2-font-size);
    font-family: Cabin;
  }

  p {
    color: var(--p-color-dark);
    font-size: var(--p-font-size);
    font-family: Lato;
  }

  section {
    display: grid;
    background-color: var(--bg-gray);
  }

  article {
    display: flex;
    flex-direction: column;
    padding: 36px 23px;
    align-items: flex-start;
    gap: 10px;
    width: 226px;

    border-radius: 20px;
    border: 1px solid #eaeaea;

    background: #f5f5f5;
  }

  card {
    display: flex;
    flex-direction: column;
    padding: 36px 23px;
    align-items: flex-start;
    gap: 10px;
    width: 226px;

    border-radius: 20px;
    border: 1px solid #eaeaea;

    background: #f5f5f5;
  }
</style>
