---
import Card from "./Card.astro"
---

<section>
    <h2>Financial Projections</h2>
    <p>Financial projections are essential for planning and monitoring a company’s performance. They provide insights into potential revenue, expenses, and profitability over specific periods.</p>
    <Card />

</section>