---
import IndexPhoto from "@assets/images/indexphoto.jpg";
import { Image } from "astro:assets";

---

<section>
    <div class="svg-img">
        <svg>
        </svg>
        <Image src={IndexPhoto} alt="Index photo" />
    </div>
    <div class="text-content">

        <p>WE'LL WORK WITH YOU</p>
        <h2>What To Expect</h2>
        <p>Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
        <ul>
            <li>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</li>
            <li>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</li>
        </ul>
    </div>
</section>

<style>
    section {
        display: inline-flex;
align-items: flex-start;
gap: 82px;
    }
</style>