---

---

<article>
    <div class="left">

        <h2>Subscribe Our Newsletter</h2>
        <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <div class="right">

        <input type="text" placeholder="your mail adress" />
        <a href="">Subscribe</a>
    </div>
</article>

<style>
    article {
    display: flex;
    align-items: center;
    /* justify-content: center; */

    /* width: 1200px;
height: 252px; */
flex-shrink: 0;
border-radius: 20px;

background-color: var(--bg-dark);
    }

    h2 {
        color: var(--h2-color-light);

font-family: Cabin;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 40.6px;
    }

    p {
        color: var(--p-color-light);

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23.6px;
    }

    div.left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        color: var(--p-color-light);

font-family: Cabin;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 40.6px;
    }

    div.right {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    input {
        display: inline-flex;
        /* padding: 22px 155px 22px 33px; */
        align-items: center;
        gap: 10px;

        border-radius: 4px;
border: 1px solid #E3E3E3;

background: var(--bg-light);
    }

    a {
        display: inline-flex;
        padding: 15px 45px;
        align-items: flex-start;
        gap: 10px;
        text-decoration: none;

        border-radius: 42px;
background: var(--bg-yellow);

color: var(--p-color-dark);

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28.8px; 
    }
</style>