---
import { Image } from "astro:assets";
import pinkUrl from "../assets/images/pinkjacket.jpg?url";
import computerUrl from "../assets/images/computer.jpg?url";
import handsUrl from "../assets/images/hands.jpg?url";
---

<section>
  <div class="text-content">
    <p class="uppercase">Process</p>
    <h2>Contact Us. It’s Easy.</h2>
    <p class="last-p">
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy foster
      collaborative.
    </p>

    <div class="svg-content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="53"
        height="53"
        viewBox="0 0 53 53"
        fill="none"
      >
        <circle cx="26.6561" cy="26.1658" r="26.1658" fill="#FFECBB"></circle>
        <path
          d="M23.1026 25.1889C24.1404 27.332 25.8733 29.0605 28.019 30.0928C28.1773 30.1677 28.3524 30.2001 28.527 30.1869C28.7016 30.1736 28.8698 30.1151 29.0149 30.0171L32.1665 27.9119C32.3057 27.8174 32.4666 27.7598 32.6341 27.7444C32.8017 27.729 32.9704 27.7562 33.1245 27.8236L39.0242 30.3575C39.2259 30.4414 39.3943 30.5893 39.5037 30.7783C39.613 30.9674 39.6572 31.1872 39.6293 31.4038C39.4423 32.8633 38.73 34.2046 37.6255 35.1768C36.521 36.149 35.1002 36.6855 33.6288 36.6858C29.0818 36.6858 24.7211 34.8795 21.5059 31.6643C18.2907 28.4491 16.4844 24.0884 16.4844 19.5414C16.4847 18.07 17.0212 16.6491 17.9934 15.5447C18.9656 14.4402 20.3069 13.7278 21.7664 13.5408C21.983 13.513 22.2028 13.5572 22.3918 13.6665C22.5809 13.7758 22.7288 13.9443 22.8127 14.1459L25.3465 20.0582C25.4124 20.2099 25.44 20.3755 25.4268 20.5404C25.4136 20.7053 25.3601 20.8644 25.2709 21.0037L23.1657 24.2057C23.0719 24.3505 23.0169 24.5169 23.0059 24.6891C22.9948 24.8612 23.0282 25.0333 23.1026 25.1889V25.1889Z"
          stroke="#DEAA27"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p>Call Today</p>
      <p>+1 800 100 900</p>
    </div>

    <div class="svg-content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="53"
        height="53"
        viewBox="0 0 53 53"
        fill="none"
      >
        <circle cx="26.6561" cy="26.4976" r="26.1658" fill="#A4EDA4"></circle>
        <path
          d="M26.5425 37.9312C32.6659 37.9312 37.6299 32.9672 37.6299 26.8438C37.6299 20.7203 32.6659 15.7563 26.5425 15.7563C20.4191 15.7563 15.4551 20.7203 15.4551 26.8438C15.4551 32.9672 20.4191 37.9312 26.5425 37.9312Z"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M26.543 20.376V26.8436H33.0106"
          stroke="#4EAF4E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p>Monday To Friday</p>
      <p>9AM - 5PM</p>
    </div>

    <div class="svg-content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="53"
        height="53"
        viewBox="0 0 53 53"
        fill="none"
      >
        <circle cx="26.6561" cy="26.6861" r="26.1658" fill="#EAEAEA"></circle>
        <path
          d="M26.2406 27.6521C28.2795 27.6521 29.9323 25.9992 29.9323 23.9603C29.9323 21.9214 28.2795 20.2686 26.2406 20.2686C24.2017 20.2686 22.5488 21.9214 22.5488 23.9603C22.5488 25.9992 24.2017 27.6521 26.2406 27.6521Z"
          stroke="#181818"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M35.4685 23.9603C35.4685 32.2668 26.2392 38.7274 26.2392 38.7274C26.2392 38.7274 17.0098 32.2668 17.0098 23.9603C17.0098 21.5126 17.9821 19.165 19.713 17.4342C21.4438 15.7033 23.7914 14.731 26.2392 14.731C28.6869 14.731 31.0345 15.7033 32.7653 17.4342C34.4962 19.165 35.4685 21.5126 35.4685 23.9603V23.9603Z"
          stroke="#181818"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p>USA Office</p>
      <p>195 Devonshire St Boston, MA 02110</p>
    </div>
  </div>

  <div class="img-container">
    <img class="img-pink" src={pinkUrl} alt="Pink jacket" />
    <img class="img-computer" src={computerUrl} alt="Computer" />
    <img class="img-hands" src={handsUrl} alt="Hands" />
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .svg-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .svg-container .svg-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .img-container {
    display: grid;
    gap: 1rem;
  }

  .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }

  h2 {
    color: var(--h2-color-dark);
    font-size: var(--h2-font-size);
    font-family: Cabin;
  }

  p {
    color: var(--p-color-dark);
    font-size: var(--p-font-size);
    font-family: Lato;
  }

  .last-p {
    padding-bottom: 1rem;
  }

  .uppercase {
    text-transform: uppercase;
  }

  img {
    border-radius: 20px;
  }

  .img-container {
    padding-top: 3rem;
  }

  .img-pink {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .img-computer {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .img-hands {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .text-content .svg-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
</style>
